<h1><%= @user.name %></h1>

<h4>My Blocmarks</h4>
<% @user_bookmarks.each do |bookmark_group| %>
  <%= link_to bookmark_group.first %>
    <% bookmark_group.last.each do |bookmark| %>
  <div class="col-md-3">
    <div>
      <%= bookmark.topic.title %>:
      <%= bookmark.url %>
    </div>
    <%= image_tag("bookmark.png") %>
  </div>
<% end %>
<% end %>

<div class="clearfix"></div> <!-- better solution? -->

<h4>Liked Blocmarks</h4>
<% @liked_bookmarks.each do |bookmark| %>
  <div class="col-md-3">
    <div>
      <%= bookmark.url %>
    </div>
    <%= image_tag("bookmark.png") %>
  </div>
<% end %>


